body{
    font-family: font-family: 'Karla', sans-serif;;
}
h1{
    font-size: 80px;
    font-family: cursive;
    font-weight: 700;
}
h2{
    font-size: 65px;
    font-family: cursive;
    font-weight: 700;
}
p{
    font-size: 50px;
}
.orange-color{
    color: orangered;
}
.section-one{
    display: flex;
    padding-bottom: 150px;

}

.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
      width: 80%;
}
.link-button{
    text-decoration: none;
    background-color: lightsalmon;
    padding-left: 30px ;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;

    font-weight: 800;
    border-radius: 10px;

}
.section-two{
    display: flex;
    background-image: url(Frame\ 58.jpg);
    background-position: right;
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    padding-bottom: 150px;
}
#small{
    font-size: 30px;
}
.fade{
    width: 40%;
    padding: 2%;
    box-shadow: 10px 10px 30px gray;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
}
.section-three{
    display: flex;

}
.sm{
    font-size: 40px;
}
.alu{
    width: 40%;
    padding: 5%;
    margin-left: 5%;
    margin-right: 5%;
}
#background{
    background-color:black;
}
